
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');



.containere{
    position: relative;
    background-color: rgb(11, 19, 56);
    border-radius: 15px;
    padding: 0px 73px;
    margin-top: 1px;
}

.contente{
    display: flex;
    justify-content: center;
}

.aboutItemse{
   list-style: none;
}

.aboutItemTexte{
    background-color: rgb(12, 13, 34);
    padding: 10px 10px 30px 10px ;
    border-radius: 30px;
    margin-bottom: 20px;
   
}
.aboutItemTexte:hover{
    background: linear-gradient(to right , rgba(44, 44, 44, 0.684) ,  rgb(12, 13, 34));
    transform: scale(1.07);
    transition-duration: 0.7s;
}
.skillItem:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;

}
.aboutIteme{
    align-items: center;
}

.ttilee{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 2%;
    color: #ffffff;

}
.tittllee:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;
    color: #ffffff;

}
.tittlleee:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;

}
.disccpe{
    padding:0px 20px 0px 20px;
    font-size: 20px;
    font-weight: 350;
    line-height: 30px;
    color: #ffffff;

}
.skillImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 30px;
}

.tittllee{
    text-align: center;
    font-size: 50px;
    margin: 5%;
    color: #ffffff;


}
.tittlleee{
    text-align: center;
    font-size: 45px;
    margin: 5%;
    color: #ffffff;
}


.skillItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillText{
    color: #ffffff;

}

.skills{
    width: 100%;
}

.skillS{
    display: flex;
    flex-wrap: wrap;
}

.porr{
    width: 100%;

}
@media screen and (max-width: 770px){
    .containere{
        padding: 10px;
    }
    .contente{
        display: flex;
        flex-direction: column;
    }
    .aboutItemse{

        margin: 0;
        padding: 0;
    }
  
}

@media screen and (max-width: 400px){
  
    .skillImg{
        margin-left: 10%;
        margin-right: 10%;

    }
    .skillItem{
        margin: 4%;
        padding: 0;
    }
    .aboutItemse{
        margin:0;
        padding: 0;
    }
    .tittlleee{
        font-size:35px ;
        color: #ffffff;

    }
    .skillS{
        padding: 0;
        margin: 20px;
    }
  .disccpe{
    margin:0;
    padding: 0;
  }
  .aboutItemTexte{
   margin:20px;
  }
}

