@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');



.booox{
    background-color: #0b1338;
    z-index: -12;
    font-family: "Outfit", Arial, Helvetica, sans-serif;

}
.mainBox{
    display: flex;
    align-items: center;
    justify-content :space-between;
    color: rgb(255, 255, 255);
    margin: 70px 0px 50px 0px ;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;

    
}

.divv1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index:1 ;
    padding: 60px 40px ;
    width: 100%;
    background-image: radial-gradient(  rgb(4, 7, 94), #0b1337 ,#0b1338);

}

.divv2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imgP{
    border-radius: 100% ;
    height: 70%;
    width: 70%;
    animation: float 3s ease-in-out infinite;

}
.imgP:hover{
    transform: scale(1.1);
    transition-duration: 0.6s;

}

.titlee{
    /* font-size: 70px;
    font-weight: 600;
    margin-bottom: 33px; */
    color: #ffffff;

    font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
  animation: fadeIn 1.2s ease-in-out;
}

 
.desc{
    font-size: 25px;
    margin-bottom: 52px;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: #ffffff;

}
.titlee:hover {
  color: #ffffff;
    transform: translateY(-4px);
      transition-duration: 0.4s;
}

.contactBtn{
  text-decoration: none;
  background: linear-gradient(135deg, #576cbc, #357fee);
  color: rgb(101, 38, 38);
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}
.contactBtn:hover{
    transform: scale(1.9);
    transition-duration: 0.6s;
}

.imgP:hover{
    transform: scale(1.005);
    transition-duration: 0.07s;
}

.buttons {
    display: flex;
    gap: 20px;
  }
  
  .button {
    text-decoration: none;
    background: linear-gradient(135deg, #576cbc, #357fee);
    color: white;
    padding: 12px 24px;
    font-size: 1.5 rem;
    font-weight: 600;
      border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

@media screen and (max-width: 830px) {
   .mainBox{
        display: flex;
        flex-direction: column-reverse;
    }
    .divv1{
        align-items: center;
    }
    
    
}

@media screen and (max-width: 450px){
  
    .titlee{
        font-size: 60px;
    }
    .contactBtn{
        display: block;
        padding: 17px 20px;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
    .desc{
        margin: 0px 0px 30px 0px;
    }
    
}

@media screen and (max-width: 500px){
    .contactBtn{
        display: block;
        padding: 17px 20px;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
}



@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .image-section {
    text-align: center;
  }