@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');



.booox{
    background-color: #0b1338;
    z-index: -12;
    font-family: "Outfit", Arial, Helvetica, sans-serif;

}
.mainBox{
    display: flex;
    align-items: center;
    justify-content :space-between;
    color: white;
    margin: 70px 0px 50px 0px ;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;

    
}

.divv1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index:1 ;
    padding: 60px 40px ;
    width: 100%;
    background-image: radial-gradient(  rgb(4, 7, 94), #0b1337 ,#0b1338);

}

.divv2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imgP{
    border-radius: 100% ;
    height: 80%;
    width: 80%
}
.imgP:hover{
    transform: scale(1.1);
    transition-duration: 0.6s;

}

.titlee{
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 33px;
    
    
}
.desc{
    font-size: 25px;
    margin-bottom: 52px;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.contactBtn{
    text-decoration: none;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    background-color: #576cbc;
    font-family: "Outfit", Arial, Helvetica, sans-serif;

}
.contactBtn:hover{
    transform: scale(1.09);
    transition-duration: 0.6s;}

.imgP:hover{
    transform: scale(1.005);
    transition-duration: 0.07s;
}

@media screen and (max-width: 830px) {
   .mainBox{
        display: flex;
        flex-direction: column-reverse;
    }
    .divv1{
        align-items: center;
    }
    
    
}

@media screen and (max-width: 400px){
  
    .titlee{
        font-size: 60px;
    }
    
}


