
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');


.tlle{
    padding-left: 12%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 2%;
    margin: 0;
    font-size: 50px;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    color: #ffffff;

}
.tlle:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;

}

.cardImg{
   width: 100%;
    border-radius: 10px;
    margin: 20px 0px 20px 0px ;

}
.card{
    
    background-color: #142a53;
    margin: 20px;
    border-radius: 10px;
    padding: 24px;
    width: 30% ;
}
.card:hover{
    background: linear-gradient(to right , #142a53 ,  #0b1338);
    transform: scale(1.05);
    transition-duration: 0.8s;
}
.project{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;

}

.techs{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.techitems{
    font-size: larger;
    background-color: #243461;
    padding: 5px 15px 5px 15px ;
    border-radius: 20px;
    font-size: medium;
    color: #ffffff;
}
.techss{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
}
.techitemss:hover{
    transform: scale(1.09);
    transition-duration: 0.1s;
}

.techitemss{
    font-size: larger;
    background-color: #576dbd; 
    padding: 2px 10px 2px 10px  ;
    border-radius: 20px;
    font-size: 25px ;
    padding: 5px 25px 5px 25px;
 }

.projectTitle{
    margin: 10px 0px 10px 0px ;
    color: #ffffff;

}

.discPro{
    color: #ffffff;
}

@media screen and (max-width: 830px) {
   .project{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .tlle{
   text-align: center;}
   .card{
    width: 80% ;
}

}

/* @media screen and (max-width: 400px){
  
    .titlee{
        font-size: 60px;
    }
    
} */