
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');


*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
     color: antiquewhite;
}


.container{
    background-color: rgb(11, 19, 56);
    border-radius: 15px;
    padding: 73px;
    margin-top: 1px;
}

.tittlle{
    font-size: 50px;
    margin-left: 4%;

}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0% 0% 2%;

}

.aboutItems{
   list-style: none;
   width: 100%;

}

.aboutItemText{
    background-color: rgb(12, 13, 34);
    padding: 10px 10px 10px 10px ;
    border-radius: 30px;
    margin-bottom: 20px;
    width: 90%;
    height: 90%;

   
}

.aboutItem{
    align-items: center;
}

.ttile{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}
.disccp{
    padding:0px 20px 0px 20px;
    font-size: 20px;
    font-weight: 350;
    line-height: 30px;

}
.aboutImg{
    border-radius: 50%;
    width: 40%;
}




@media screen and (min-width: 450px) and (max-width: 1100px) {
   .aboutImg{
    height: 40%;
    width: 40%;
   }
    
}

@media screen and (max-width: 450px){
    .aboutImg{
        display: none;
       }
       .container{
        padding:20px
       }
       .aboutItems{
        padding: 0;
       }
       .tittlle{
        text-align: center;
       }
}