
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300&family=Ubuntu:wght@300&display=swap');




.container{
    background-color: rgb(11, 19, 56);
    /* border-radius: 15px; */
    padding: 50px 73px;
    /* margin-top: 1px; */
    display: flex;
    flex-direction: column;
}

.tittlle{
    font-size: 50px;
    margin-left: 4%;
    font-family: "Outfit", Arial, Helvetica, sans-serif;

}
.tittlle:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;

}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% 0% 0% 0%;


}

.aboutItems{
   list-style: none;
   width: 100%;

}

.aboutItemText{
    background-color: rgb(12, 13, 34);
    padding: 10px 10px 30px 10px ;
    border-radius: 30px;
    margin-bottom: 20px;
    width: 90%;
    height: 90%;

   
}
.aboutItemText:hover{
    background: linear-gradient(to right , rgba(44, 44, 44, 0.684) ,  rgb(12, 13, 34));
    transform: scale(1.07);
    transition-duration: 0.7s;
}

.aboutItem{
    align-items: center;
}

.ttile{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 10px 10px 12px 10px;
    font-family: "Outfit", Arial, Helvetica, sans-serif;

}
.disccp{
    padding:0px 20px 0px 20px;
    font-size: 20px;
    font-weight: 350;
    line-height: 30px;
    font-family: "Outfit", Arial, Helvetica, sans-serif;

}
.aboutImg{
    border-radius: 50%;
    width: 36%;
}




@media screen and (min-width: 450px) and (max-width: 1000px) {
   .aboutImg{
    height: 40%;
    width: 40%;
   }

   .disccp{
    text-align: center;
   }
    
}

@media screen and (max-width: 450px){
    .aboutImg{
        display: none;
       }
       .container{
        padding:20px
       }
       .aboutItems{
        padding: 0;
       }
       .tittlle{
        text-align: center;
       }

       .disccp{
        text-align: center;
       }
}